* {
    background: rgba(46, 51, 27, 0.7);
    primary: #bdce80;
    primary-fixed: #d9eb99;
    primary-fixed-dim: #bdce80;
    on-primary: #2a3500;
    on-primary-fixed: #171e00;
    on-primary-fixed-variant: #3f4c0b;
    primary-container: #3f4c0b;
    on-primary-container: #d9eb99;
    secondary: #c4caa9;
    secondary-fixed: #e0e6c3;
    secondary-fixed-dim: #c4caa9;
    on-secondary: #2e331b;
    on-secondary-fixed: #191e08;
    on-secondary-fixed-variant: #444930;
    secondary-container: #444930;
    on-secondary-container: #e0e6c3;
    tertiary: #a1d0c5;
    tertiary-fixed: #bdece1;
    tertiary-fixed-dim: #a1d0c5;
    on-tertiary: #033730;
    on-tertiary-fixed: #00201b;
    on-tertiary-fixed-variant: #214e46;
    tertiary-container: #214e46;
    on-tertiary-container: #bdece1;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #13140d;
    on-surface: #e4e3d7;
    on-surface-variant: #c7c8b8;
    outline: #909283;
    outline-variant: #46483c;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e4e3d7;
    inverse-on-surface: #303129;
    inverse-primary: #566422;
    surface-dim: #13140d;
    surface-bright: #393a31;
    surface-container-lowest: #0d0f08;
    surface-container-low: #1b1c15;
    surface-container: #1f2019;
    surface-container-high: #292b23;
    surface-container-highest: #34352d;
}
